.animation_init {

    --success: aquamarine;
    --error: orangered;

    animation-timing-function: linear;
    animation-duration: 0.7s;
}

.fetching {

    animation-name: fetching;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.success {

    animation-name: success;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}


.error {

    animation-name: error;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fetching {

    0% {
        background-color: var(--error);
    }

    100% {
        background-color: var(--success);
    }

}

@keyframes success {

    100% {
        background-color: var(--success);
    }
}

@keyframes error {

    100% {
        background-color: var(--error);
    }
}