.animation_init {

    --success: aquamarine;
    --error: orangered;

    animation-timing-function: linear;
    animation-duration: 0.7s;
}

[data-animation='fetching'] {

    animation-name: fetching;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

[data-animation='success'] {

    animation-name: success;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}


[data-animation='error'] {

    animation-name: error;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes fetching {

    0% {
        background-color: var(--error);
    }

    100% {
        background-color: var(--success);
    }

}

@keyframes success {

    100% {
        background-color: var(--success);
    }
}

@keyframes error {

    100% {
        background-color: var(--error);
    }
}